<header>
    <xng-breadcrumb class="orb-breadcrumb"></xng-breadcrumb>
    <ngx-poll-control></ngx-poll-control>
    <h4>Live Stream</h4>
</header>

<!--resources-->
<div class="handler-view">
    <div class="resources-panel">
        <div class="resources-header">
            <span class="panel-title">Resources</span>
            <span><span
                    class="top-key">Period:</span> {{resources['period']['start_ts'] * 1000 | date:'M/d/yy, h:mm:ss a'}}
                to
                {{(resources['period']['start_ts'] + resources['period']['length']) * 1000 | date:'M/d/yy, h:mm:ss a'}}</span>
        </div>

        <div class="resources-body">
            <ol class="top-title">CPU Usage
                <li *ngFor="let cpu of resources['cpu_usage'] | keyvalue"><span
                        class="top-key">{{cpu.key}}</span> <span class="top-value">{{cpu.value}}</span></li>
            </ol>
            <ol class="top-title">Event Rate
                <li *ngFor="let cpu of resources['event_rate'] | keyvalue"><span
                        class="top-key">{{cpu.key}}</span> <span class="top-value">{{cpu.value}}</span></li>
            </ol>
            <ol class="top-title">Memory Bytes
                <li *ngFor="let cpu of resources['cpu_usage'] | keyvalue"><span
                        class="top-key">{{cpu.key}}</span> <span class="top-value">{{cpu.value}}</span></li>
            </ol>
            <ol class="top-title">Counters
                <li><span class="top-key">Deep Samples:</span> <span class="top-value">{{resources['deep_samples']}}</span></li>
                <li><span class="top-key">Total:</span> <span class="top-value">{{resources['total']}}</span></li>
                <li><span class="top-key">Handler Count:</span> <span class="top-value">{{resources['handler_count']}}</span></li>
                <li><span class="top-key">Policy Count:</span> <span class="top-value">{{resources['policy_count']}}</span></li>
            </ol>
        </div>
    </div>
    <div>
        <ng-container *ngFor="let handler of handlers | keyvalue">
            <div class="handlers-panel">
                <div class="resources-header">
                    <span class="panel-title">{{handler.value.type | uppercase}}</span>
                </div>
                <div class="resources-body">
                    <ng-container [ngSwitch]="handler.value.type">
                        <ng-container *ngSwitchCase="'packets'">
                            <ol class="top-title">
                                <li><span class="top-key">deep_samples</span> <span class="top-value">{{handler.value['deep_samples']}}</span></li>
                                <li><span class="top-key">filtered</span> <span class="top-value">{{handler.value['filtered']}}</span></li>
                                <li><span class="top-key">in</span> <span class="top-value">{{handler.value['in']}}</span></li>
                                <li><span class="top-key">ipv4</span> <span class="top-value">{{handler.value['ipv4']}}</span></li>
                                <li><span class="top-key">ipv6</span> <span class="top-value">{{handler.value['ipv6']}}</span></li>
                                <li><span class="top-key">other_l4</span> <span class="top-value">{{handler.value['other_l4']}}</span></li>
                                <li><span class="top-key">out</span> <span class="top-value">{{handler.value['out']}}</span></li>
                                <li><span class="top-key">tcp</span> <span class="top-value">{{handler.value['tcp']}}</span></li>
                                <li><span class="top-key">total</span> <span class="top-value">{{handler.value['total']}}</span></li>
                                <li><span class="top-key">udp</span> <span class="top-value">{{handler.value['udp']}}</span></li>
                            </ol>
                        </ng-container>
                        <ng-container *ngSwitchCase="'pcap'">
                            <ol class="top-title">
                                <li><span class="top-key">if_drops</span> <span class="top-value">{{handler.value['if_drops']}}</span></li>
                                <li><span class="top-key">os_drops</span> <span class="top-value">{{handler.value['os_drops']}}</span></li>
                                <li><span class="top-key">tcp_reassembly_errors</span> <span class="top-value">{{handler.value['tcp_reassembly_errors']}}</span></li>
                            </ol>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let metric of handler.value | keyvalue">
                        <ng-container *ngIf="metric.key.includes('wire_packets')
                            || metric.key.includes('cardinality')
                            || metric.key.includes('payload_size')">
                            <ol class="top-title">
                            {{metric.key}}
                                <li *ngFor="let content of metric.value | keyvalue">
                                    <span class="top-key">{{content.key}}</span>
                                    <span class="top-value">{{content.value}}</span>
                                </li>
                            </ol>
                        </ng-container>
                        <ng-container *ngIf="metric.key.includes('rates')
                        || metric.key.includes('protocol')">
                            <ol class="top-title">
                                {{metric.key}}
                                <li *ngFor="let rate of metric.value | keyvalue">
                                    <ol class="top-title">
                                        {{rate.key}}
                                        <li *ngFor="let content of rate.value | keyvalue">
                                            <span class="top-key">{{content.key}}</span>
                                            <span class="top-value">{{content.value}}</span>                                        
                                        </li>
                                    </ol>
                                </li>

                            </ol>
                        </ng-container>
                        <ng-container *ngIf="metric.key.includes('top')">
                            <ol class="top-title">
                                {{metric.key}}
                                <li *ngFor="let content of metric.value"> 
                                    <span class="top-key">{{content.name}}</span> 
                                    <span class="top-value">{{content.estimate}}</span>
                                </li>
                            </ol>
                        </ng-container>
                        <ng-container *ngIf="metric.key.includes('xact')">
                            <ol class="top-title">
                                {{metric.key}}
                                <li class="top-key">
                                    <ol class="top-title">
                                        counts
                                        <li *ngFor="let count of metric.value['counts'] | keyvalue">
                                            <span class="top-key">{{count.key}}</span> <span class="top-value">{{count.value}}</span>
                                        </li>
                                    </ol>
                                </li>
                                <li class="top-key">
                                    <ol class="top-title">
                                        in
                                        <li *ngFor="let count of metric.value['in'] | keyvalue">
                                            <ol *ngIf="!isCardinal(count.value)" class="top-title">
                                                {{count.key}}
                                                <li *ngFor="let top of count.value | keyvalue">
                                                    <span class="top-key">{{top.key}}</span> {{top.value}}
                                                </li></ol>
                                            <span *ngIf="isCardinal(count.value)"><span class="top-key">{{count.key}}</span> {{count.value}}</span>
                                        </li>
                                    </ol>
                                </li>
                                <li class="top-key">
                                    <ol class="top-title">
                                        out
                                        <li *ngFor="let count of metric.value['out'] | keyvalue">
                                            <ol *ngIf="!isCardinal(count.value)" class="top-title">
                                                {{count.key}}
                                                <li *ngFor="let top of count.value | keyvalue">
                                                <span class="top-key">{{top.key}}</span> <span class="top-value">{{top.value}}</span>
                                            </li></ol>
                                            <span *ngIf="isCardinal(count.value)"><span class="top-key">{{count.key}}</span> <span class="top-value">{{count.value}}</span></span>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>
